* {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

/* banner styles */
header {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.banner-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.banner {
    text-align: right;
    margin-right: 120px;
}

.banner-title {
    font-size: 70px;
    font-weight: 800;
    color: white;
    margin-bottom: 30px;
}

.banner-description {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}

.banner-button {
    background-color: white;
    color: #0152ab;
    padding: 18px 36px 18px;
    border-style: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
}

/* article styles */
.info-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 25px;
}

.description {
    font-size: 20px;
    color: #444343;
    margin-bottom: 20px;
}

.items {
    font-size: 20px;
    color: #444343;
}

.failure {
    margin-bottom: 15px;
}

.fa-check {
    color: #16d887;
}

/* article plan-part */
.goals-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

.goals-plan {
    width: 80%;
    margin: 0 auto;
}

.first-title {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.goals {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;
}

.goals-title {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.goals-description {
    font-size: 27px;
    font-weight: 600;
    color: #737272;
}

.goals-info {
    text-align: center;
}

.mindset {
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 72%;
    margin: 0 auto;
    height: 330px;
    margin-top: 130px;
    margin-bottom: 130px;
    border-style: none;
    border-radius: 5px;
}

.mindset-title {
    color: white;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;

}

.mindset-button {
    background-color: white;
    color: #0152ab;
    padding: 18px 36px 18px;
    border-style: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 700;
}

.mindset-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-left: 65px;
}

/* footer section */
.contact {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 250px;

}

.social-information {
    padding: 130px 200px;
    color: white;
}

.social-title {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 25px;
}

.social-info {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;
}

.subscribe-section {
    color: white;
    padding-right: 220px;
    margin-bottom: 40px;
}

.subscribe-title {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 25px;
}

.form-email {
    padding: 22px 85px 22px 22px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 7px;
    margin-bottom: 15px;
}

.button{
    background-color: #005fac;
    padding: 23px 42px;
    color: white;
    font-size: 23px;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
}

.contact a {
    text-decoration: none;
    margin-right: 10px;
}

/* hobby section*/
.hobby-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    width: 95%;
}

.hobby-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 25px;
}

.hobby-description {
    font-size: 20px;
    font-weight: 600;
    color: #737272;
    margin-bottom: 20px;
}

.icon-image {
    width: 150px;
}

.activity-container {
    display: flex;
    gap: 55px;
    text-align: center;
    margin-bottom: 40px;
}

.activity-container h4 {
    font-size: 25px;
    font-weight: 700;
}
.details-button{
    background-color:#015fab;
    color:white;
    padding: 20px 30px 20px;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}